.f{
  height: 50px;
  padding: 0 20px;
  border: 1px solid var(--color-primary);
  border-radius: 0.375rem;
  background: #FFFFFF;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s;
}