.header{
  height: 100px;
  background-color: #fff;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logotipo{
  max-width: 250px;
  width: 100%;
  margin: 0;
  display: block;
}

.header-logotipo__img{
  max-width: 100%;
  width: 100%;
  height: auto;
}

.nav-bar{
  margin: 0;
  height: 100%;
}

.nav-bar > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

.nav-bar > ul > li > a{
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 500;
  padding: 0 16px;
  color: var(--color-primary);
  transition: all .4s linear;
}

.nav-bar > ul > li > a:hover{
  background-color: var(--color-secondary);
}

.nav-bar > ul > li > a.current{
  background-color: var(--color-secondary);
}

.header-hamburguer{
  font-size: 30px;
  color: var(--color-primary);
  display: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .nav-bar{
    display: none;
  }

  .header-hamburguer{
    display: block;
  }

}

@media (max-width: 767px) {
  .header{
    height: 80px;
  }

  .header-logotipo{
    max-width: 200px;
  }
}

.sidebar-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transition: all .25s ease-in-out;
  z-index: 800;
  pointer-events: none;
  opacity: 0;
}

.sidebar-overlay.show{
  opacity: 0.5;
  pointer-events: auto;
}

.sidebar{
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index: 900;
  transition: all .25s ease-in-out;
  pointer-events: none;
  overflow-y: auto;
  padding: 50px 30px 50px 30px;
  box-sizing: border-box;
}

.sidebar.show{
  right: 0;
  pointer-events: auto;
}

.sidebar-burger{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: var(--color-primary);
  cursor: pointer;
}

.sidebar-nav > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-nav > ul > li {
  margin-bottom: 10px;
}

.sidebar-nav > ul > li:last-child{
  margin-bottom: 0;
}

.sidebar-nav > ul > li > a{
  font-weight: 500;
  font-size: 18px;
  color: var(--color-primary);
  transition: all .4s linear;
  padding-bottom: 3px;
  position: relative;
}

.sidebar-nav > ul > li > a:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-primary);
  transition: all .25s ease-in-out;
}

.sidebar-nav > ul > li > a:hover::before{
  width: 100%;
}

.sidebar-nav > ul > li > a.current::before{
  width: 100%;
}