.header{
  height: 100px;
  background-color: #fff;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logotipo{
  max-width: 250px;
  width: 100%;
  margin: 0;
  display: block;
}

.header-logotipo__img{
  max-width: 100%;
  width: 100%;
  height: auto;
}

.nav-bar{
  margin: 0;
  height: 100%;
}

.nav-bar > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

.nav-bar > ul > li > a{
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 500;
  padding: 0 16px;
  color: var(--color-primary);
  transition: all .4s linear;
}

.nav-bar > ul > li > a:hover{
  background-color: var(--color-secondary);
}

.nav-bar > ul > li > a.current{
  background-color: var(--color-secondary);
}

.header-hamburguer{
  font-size: 30px;
  color: var(--color-quinary);
  display: none;
}

@media (max-width: 1024px) {
  .nav-bar{
    display: none;
  }

  .header-hamburguer{
    display: block;
  }

}

@media (max-width: 767px) {
  .header{
    height: 80px;
  }

  .header-logotipo{
    max-width: 200px;
  }
}