* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #495E57;
  --color-secondary: #F4CE14;
  --color-tertiary: #FFFFFF;
  --color-quaternary: #3333;
  --color-quinary: #EE9972;
  --color-sextary: #f3f1f1;

  --font-primary: "Karla", serif;
  --font-secondary: "Markazi Text", serif;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
  line-height: 1.5;
  background-color: var(--color-sextary)
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

img {
  max-width: 100%;
}

h1, h2, h3 , h4, h5, h6 {
  line-height: 1;
  font-family: "Markazi Text", serif;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h4, h5, h6 {
  font-size: 20px;
}

label {
  cursor: pointer;
}

button{
  appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
}

input, select {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  appearance: none;
  outline: none;
  transition: all 0.3s;
}

input:focus, select:focus {
  border: none;
}

.container{
  max-width: 1060px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
}